<article class="lake card">
  <div class="title card-header">
    {{name}}
  </div>
  <ul class="meta list-group list-group-flush">
    <li class="list-group-item">{{city}}</li>
    <li class="list-group-item">{{longitude}}</li>
    <li class="list-group-item">{{latitude}}</li>
  </div>
</article>