<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>They're out there</title>
  <link rel="stylesheet" href="/index.css">
</head>

<body class="container-fluid">
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">They're out there</a>
      </h1>
      <nav>

        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>

        <a href="/login">login</a>

      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>