<div class="container h-100">
    <div class="mb-5">
        <p class="h1 mb-5">Add a lake</p>
    </div>
    <div class="mt-5">
        <form class="add-lake" id = "add-lake">
            <div class="form-outline mt-5 mb-4">
                <input type="text" class="form-control w-50 mt-5 lake-name"/>
                <label class="mt-1">Lake Name</label>
            </div>

            <div class="form-outline mt-5 mb-4">
                <input type="text" class="form-control w-50 mt-5 city"/>
                <label class="mt-1">City</label>
            </div>
            <div class="form-outline mt-5 mb-4">
                <input type="text" class="form-control w-50 mt-5 latitude"/>
                <label class="mt-1">Latitude</label>
            </div>
            <div class="form-outline mt-5 mb-4">
                <input type="text" class="form-control w-50 mt-5 longitude"/>
                <label class="mt-1">Longitude</label>
            </div>
            <div class="form-outline mt-5 mb-4">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/addlake.js"></script>