<div class="container h-100">
    <div class="mb-5">
        <p class="h1 mb-5">Add a fish</p>
    </div>
    <div class="mt-5 fish-form">
        <form class="add-fish" id = "add-fish">
            <div class="form-outline mt-5 mb-4">
                <input type="text" class="form-control w-50 mt-5 common-name"/>
                <label class="mt-1 common-name">Common Name</label>
            </div>

            <div class="form-outline mt-5 mb-4">
                <input type="text" class="form-control w-50 mt-5 description"/>
                <label class="mt-1 description">Description</label>
            </div>
            <div class="form-outline mt-5 mb-4">
                <input type="text" class="form-control w-50 mt-5 wiki-link"/>
                <label class="mt-1 wiki-link">Wiki Link</label>
            </div>
            <div class="form-outline mt-5 mb-4">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/addFish.js"></script>